@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Rajdhani&display=swap');

header{
	background-color: #000080;
    height: 100px;
	width: 100%;
	position: absolute;
	left:0;
	top:0;	
}

.nombre{   
    background-color: #000080;
    height: 200px;
	width: 100%;
    position:absolute;
    left:0;
    top:0; 
    font-family: 'Petit Formal Script', cursive;
    color: whitesmoke;
    text-align: center;
    justify-content: center;
}


.navegacion{
    width:100%;
}

.menu ul {
    font-family: 'Rajdhani', sans-serif;
    justify-content: flex-end;
    display: flex;
  }

  .menu ul li {
    list-style-type: none;
    text-align: left;
  }

  

  .menu ul li a {
    padding: 10px;
  }

  .aboutme{
    font-family: 'Rajdhani', sans-serif;
    background-color: white;
    color: black;
    
      
  }


