body {
    color: #ffffff; /* Color blanco para el texto de todo el cuerpo */
    background-color: #808080; /* Color de fondo gris */
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* Color blanco para los encabezados */
}

p {
    color: #ffffff; /* Color blanco para los párrafos */
}

a {
    color: #ffffff; /* Color blanco para los enlaces */
}

a:hover {
    color: #d1d1d1; /* Color gris claro para los enlaces al pasar el mouse */
}
