body {
    color: #ffffff; /* Color blanco para el texto de todo el cuerpo */
    background-color: #000000; /* Color de fondo negro */
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff; /* Color blanco para los encabezados */
}

p {
    color: #ffffff; /* Color blanco para los párrafos */
}

a {
    color: #ffffff; /* Color blanco para los enlaces */
}

a:hover {
    color: #d1d1d1; /* Color gris claro para los enlaces al pasar el mouse */
}

hr {
    border: none; /* Elimina el borde predeterminado */
    height: 2px; /* Altura de la línea */
    background-color: #ffffff; /* Color de la línea */
    margin: 40px 0; /* Espacio superior e inferior */
}
